params {
    project                       = 'gwas-test'
    outdir                        = "${WORKSPACE_BUCKET}/results/gwas-test"
    genotypes_prediction          = "${WORKSPACE_BUCKET}/arrays/EUR/arrays_EUR_qcfiltered.{bim,bed,fam}"
    genotypes_prediction_chunks   = 10
//    genotypes_association         = "gs://fc-aou-datasets-controlled/v8/wgs/short_read/snpindel/acaf_threshold/bgen/chr6.bgen"
    genotypes_association         = "gs://fc-secure-0053f978-eca2-48ee-9662-f71b67f18bd1/split_bgen/chr21*.bgen"
    regenie_sample_file = "gs://fc-aou-datasets-controlled/v8/wgs/short_read/snpindel/exome/bgen/chr1.sample"
    genotypes_association_chunk_size = 0  // no chunking
    genotypes_association_chunk_strategy = "VARIANTS"
    association_build               = 'hg38'
    genotypes_association_format  = 'bgen'
    phenotypes_filename           = "${WORKSPACE_BUCKET}/phenotypes/physical_measurement_table.tsv"
    phenotypes_columns            = 'blood-pressure-diastolic-mean,blood-pressure-systolic-mean,bmi,heart-rate-mean,height,hip-circumference-mean,waist-circumference-mean,weight'
    phenotypes_binary_trait       = false
    phenotypes_apply_rint         = true
    regenie_test                  = 'additive'
}

// Global report configuration
//report {
//    enabled = true
//    file = "report.html"
//    includeCost = true // Include cost details if supported by the executor
//}
