params {
    project                       = 'migraine_AMR_male'
    outdir                        = "${WORKSPACE_BUCKET}/results/migraine_AMR_male"
    genotypes_prediction          = "${WORKSPACE_BUCKET}/arrays/AMR/arrays_AMR_male_qcfiltered.{bim,bed,fam}"
    genotypes_prediction_chunks   = 10
    genotypes_association         = "${WORKSPACE_BUCKET}/split_bgen/chr*.bgen"
    regenie_sample_file = "gs://fc-aou-datasets-controlled/v8/wgs/short_read/snpindel/acaf_threshold/bgen/chr1.sample"
    genotypes_association_chunk_size = 0  // no chunking
    genotypes_association_chunk_strategy = "VARIANTS"
    association_build               = 'hg38'
    genotypes_association_format  = 'bgen'
    phenotypes_filename           = "${WORKSPACE_BUCKET}/phenotypes/migraine_amr_male.tsv"
    phenotypes_columns            = 'diagnosis,diagdrug'
    phenotypes_binary_trait       = true
    phenotypes_apply_rint         = false
    covariates_filename           = "${WORKSPACE_BUCKET}/covariates.tsv"
    covariates_columns            = "age,age2,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10"
    regenie_test                  = 'additive'
    regenie_bsize_step1                   = 1000
    regenie_bsize_step2                   = 400
    regenie_firth                         = true
    regenie_firth_approx                  = true
    regenie_force_step1                   = false
    regenie_ref_first                     = false
    regenie_low_mem                       = true
}

// Global report configuration
//report {
//    enabled = true
//    file = "report.html"
//    includeCost = true // Include cost details if supported by the executor
//}
