params {
    project                       = 'gwas-AoU'
    genotypes_prediction          = "${WORKSPACE_BUCKET}/arrays/EUR/arrays_EUR_qcfiltered.{bim,bed,fam}"
    genotypes_association         = "gs://fc-aou-datasets-controlled/v8/wgs/short_read/snpindel/acaf_threshold/bgen/chr22.bgen"
    genotypes_association_chunk_size = 200000
    genotypes_association_chunk_strategy = "VARIANTS"
    genotypes_build               = 'hg38'
    genotypes_association_format  = 'bgen'
    phenotypes_filename           = "${WORKSPACE_BUCKET}/phenotypes/pheno_BMI_EUR.tsv"
    phenotypes_columns            = 'BMI'
    phenotypes_binary_trait       = false
    phenotypes_apply_rint         = true
    regenie_test                  = 'additive'
    withReport                    = "report.html"
}
